{% extends 'base.html.twig' %}

{% block title %}MDS Scraper{% endblock %}

{% block body %}

    {% for class, count in counts %}
        <h3>
            {{ class }}
        </h3>
        <b>Total: {{ count }}</b>

        {% set columns = columnsByClass[class] %}
        {{ dump(columns) }}
        @todo: table
    {% endfor %}
{% endblock %}
