{% extends 'base.html.twig' %}

{% block title %}MDS Scraper{% endblock %}

{% block body %}

    The data here come from

    <a href="https://museumdata.uk/explore-collections/" target="_blank">
        https://museumdata.uk/explore-collections/
    </a>

    {% for class, count in counts %}
        <h3>
            {{ class }}:
            <span title="{{ count }}">
                {{ count|format_large_number }}
                {{ count|number_format }}

            </span>
        </h3>

    {% endfor %}
{% endblock %}
