{% extends 'base.html.twig' %}

{% block title %}MDS Scraper{% endblock %}

{% block body %}

    {% for class, count in counts %}
        <h3>
            {{ class }}: {{ count }}
        </h3>

    {% endfor %}
{% endblock %}
