{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Records: {{ count}} ✅</h1>
    <h1>Source: {{ sourceCount }} ✅</h1>

</div>
{% endblock %}
