{% extends 'base.html.twig' %}

{% block title %}Hello RowController!{% endblock %}

{% block body %}

    <h1>{{ extract.tokenCode }}</h1>
    <code>{{ extract.marking }}</code>
    <pre>{{ extract.response|json_pretty }}</pre>
{% endblock %}
